#**print()**\
In Python, the print() function is used to display output on the screen.

In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# Printing Multiple Values
print("Python", "is", "awesome!")

Python is awesome!

In [3]:
 #Using sep Parameter
 print("Python", "is", "awesome!", sep="-")

Python-is-awesome!

In [4]:
#Using end Parameter
print("Hello", end=" ")
print("World!")

Hello World!

In [5]:
#Printing with f-strings
name = "Gaurav Singh"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Gaurav Singh and I am 25 years old.

**Variables in Python:**

In [6]:
 #Printing Variables
name = "Gaurav Singh"
age = 25
print("Name:", name, "Age:", age)

Name: Gaurav Singh Age: 25

**Must start with a letter (A-Z or a-z) or an underscore _**\
**Cannot start with a number**

**Can contain letters, numbers, and underscores (_)**\
**Case-sensitive (age and Age are different)**\
**Cannot use Python keywords (e.g., def, class, return**

‚úÖ **Valid names: age, first_name, _score, temperature123**\
‚ùå **Invalid names: 2name, first-name, class**

In [7]:
x = 10  # Integer
name = "gaurav"  # String
pi = 3.14  # Float
is_active = True  # Boolean

**Data Types in Python**


int-	10, -5, 1000	Whole numbers\
float-	3.14, -0.01	Decimal numbers\
complex-	2+3j, -1j	Complex numbers\
str-	"Hello"	Text (String)\
list-	[1, 2, 3]	Ordered, Changeable collection\
tuple	-(1, 2, 3)	Ordered, Unchangeable collection\
set-	{1, 2, 3}	Unordered, Unique values\
dict-	{"name": "A"}	Key-value pairs\
bool-	True, False	Logical True/False\
None-	None	Empty Value\

**1. Numbers (Used for calculations)**

Python supports three types of numbers:

*int ‚Üí Whole numbers (like 1, -5, 100)*\
*float ‚Üí Numbers with decimals (like 3.14, -0.5)*\
*complex ‚Üí Numbers with j (like 2+3j, -1j)*\

In [8]:
x = 10      # Integer (int)
y = 3.14    # Decimal number (float)
z = 2 + 3j  # Complex number

print(type(x))
print(type(y))
print(type(z))

"""
x is a whole number, so it is an int.\
y has a decimal, so it is a float.\
z has j (imaginary part), so it is a complex number.
"""

<class 'int'>
<class 'float'>
<class 'complex'>

'\nx is a whole number, so it is an int.y has a decimal, so it is a float.z has j (imaginary part), so it is a complex number.\n'



**2.   String (str)**

In [9]:
name = "Gaurav"
print(type(name))

<class 'str'>

**3. Sequence Types (Ordered Collections)**

In [10]:
# List - Ordered, changeable, allows duplicates
my_list = [1, 2, 3, "apple"]
print(type(my_list))  # Output: <class 'list'>

# Tuple - Ordered, unchangeable, allows duplicates
my_tuple = (10, "banana", 3.5)
print(type(my_tuple))  # Output: <class 'tuple'>

# Range - Sequence of numbers
r = range(5)  # Generates numbers 0 to 4
print(list(r))  # Output: [0, 1, 2, 3, 4]
print(type(r))  # Output: <class 'range'>

<class 'list'>
<class 'tuple'>
[0, 1, 2, 3, 4]
<class 'range'>

**4. Set Types (Unordered Collections)**

In [11]:
# Set - Unordered, no duplicates
my_set = {1, 2, 3, 3, 4}
print(my_set)  # Output: {1, 2, 3, 4}
print(type(my_set))  # Output: <class 'set'>

# Frozenset - Immutable set
frozen = frozenset({5, 6, 7})
print(type(frozen))  # Output: <class 'frozenset'>

{1, 2, 3, 4}
<class 'set'>
<class 'frozenset'>

**5. Dictionary Type (Key-Value Pairs)**

In [12]:
# Dictionary - Key-value pairs
person = {"name": "John", "age": 25}
print(type(person))  # Output: <class 'dict'>

<class 'dict'>

**6. Boolean Type (True/False)**

In [13]:
# Boolean - True or False
is_python_fun = True
print(type(is_python_fun))  # Output: <class 'bool'>

print(10 > 5)  # Output: True
print(10 < 5)  # Output: False

<class 'bool'>
True
False

**7. Binary Types (For Bytes and Files)**

In [14]:
# Bytes - Immutable byte sequence
byte_data = b"Hello"
print(type(byte_data))  # Output: <class 'bytes'>

# Bytearray - Mutable byte sequence
byte_arr = bytearray([65, 66, 67])
print(type(byte_arr))  # Output: <class 'bytearray'>

# Memoryview - View of a byte sequence
mv = memoryview(byte_data)
print(type(mv))  # Output: <class 'memoryview'>

<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

**8. Special Type (None)**

In [16]:
# NoneType - Represents nothing
x = None
print(type(x))  # Output: <class 'NoneType'>

<class 'NoneType'>

**Type Conversion in Python (Type Casting)**

*1.   Implicit Conversion (Automatic by Python)*\
*2.   Explicit Conversion (Manual by Programmer)*

 **1. Implicit Type Conversion**\
 Python automatically converts smaller data types to larger ones.

In [17]:
# Example of implicit conversion
a = 10      # Integer
b = 3.5     # Float
c = a + b   # Python converts 'a' to float automatically

print(c)        # Output: 13.5
print(type(c))  # Output: <class 'float'>

13.5
<class 'float'>

**2. Explicit Type Conversion (Manual by the User)**\
The user manually converts one data type into another using built-in functions.

In [18]:
num_str = "50"
num_int = int(num_str)  # Convert string to integer

print(num_int)        # Output: 50
print(type(num_int))  # Output: <class 'int'>

50
<class 'int'>

In [19]:
num_float = 10.75
num_int = int(num_float)  # Converts float to integer (removes decimal part)

print(num_int)        # Output: 10
print(type(num_int))  # Output: <class 'int'>

10
<class 'int'>

In [20]:
num = 100
num_str = str(num)  # Convert integer to string

print(num_str)        # Output: "100"
print(type(num_str))  # Output: <class 'str'>

100
<class 'str'>

In [21]:
my_list = [1, 2, 3, 4]
my_tuple = tuple(my_list)  # Convert list to tuple

print(my_tuple)        # Output: (1, 2, 3, 4)
print(type(my_tuple))  # Output: <class 'tuple'>

(1, 2, 3, 4)
<class 'tuple'>

In [22]:
my_tuple = (10, 20, 30)
my_list = list(my_tuple)  # Convert tuple to list

print(my_list)        # Output: [10, 20, 30]
print(type(my_list))  # Output: <class 'list'>

[10, 20, 30]
<class 'list'>

In [23]:
my_list = [1, 2, 2, 3, 4, 4]
my_set = set(my_list)  # Convert list to set (removes duplicates)

print(my_set)        # Output: {1, 2, 3, 4}
print(type(my_set))  # Output: <class 'set'>

{1, 2, 3, 4}
<class 'set'>

In [24]:
print(int(True))  # Output: 1
print(int(False)) # Output: 0

1
0

**Arithmetic Operators in Python**\
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.

In [25]:
#1. Addition (+)
a = 10
b = 5
result = a + b
print(result)  # Output: 15

15

In [26]:
#2. Subtraction (-)
a = 20
b = 8
result = a - b
print(result)  # Output: 12

12

In [27]:
#3. Multiplication (*)
a = 7
b = 3
result = a * b
print(result)  # Output: 21

21

In [28]:
#4. Division (/)
a = 10
b = 4
result = a / b
print(result)  # Output: 2.5 (Always returns float)

2.5

In [29]:
#5. Floor Division (//) (Floor division removes the decimal part and gives an integer.)
a = 10
b = 4
result = a // b
print(result)  # Output: 2

2

In [30]:
#6. Modulus (%)(üëâ Modulus gives the remainder after division.)
a = 10
b = 3
result = a % b
print(result)  # Output: 1

1

In [31]:
#7. Exponentiation (**)(üëâ Raises one number to the power of another.)
a = 2
b = 3
result = a ** b
print(result)  # Output: 8 (2¬≥)

8

**Comparison Operators in Python**\
Comparison operators are used to compare two values. They return True or False based on the comparison result.

In [ ]:
# ==============================
#  COMPARISON OPERATORS IN PYTHON
# ==============================

# 1. Equal to (==)
a = 10
b = 10
print("a == b:", a == b)  # Output: True

# 2. Not Equal to (!=)
a = 5
b = 8
print("a != b:", a != b)  # Output: True

# 3. Greater than (>)
a = 15
b = 10
print("a > b:", a > b)  # Output: True

# 4. Less than (<)
a = 5
b = 10
print("a < b:", a < b)  # Output: True

# 5. Greater than or Equal to (>=)
a = 7
b = 7
print("a >= b:", a >= b)  # Output: True

# 6. Less than or Equal to (<=)
a = 6
b = 10
print("a <= b:", a <= b)  # Output: True

# ==============================
#  COMPARISON WITH USER INPUT
# ==============================

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

# ==============================
#  COMPARISON WITH STRINGS
# ==============================
print("apple" == "apple")  # True
print("apple" != "banana")  # True
print("apple" > "banana")   # False (because 'a' comes before 'b')
print("dog" < "elephant")   # True

# ==============================
#  COMPARISON IN IF-ELSE STATEMENT
# ==============================

age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

**Logical Operators in Python**\
Logical operators are used to combine multiple conditions and return True or False based on the logic.

In [ ]:
# ==========================================================
#                LOGICAL OPERATORS IN PYTHON
# ==========================================================

# Logical operators are used to combine multiple conditions.
# They return True or False based on the logic.

# ----------------------------------------------------------
# 1. AND Operator (Both conditions must be True)
# ----------------------------------------------------------
print("---- AND Operator ----")
a, b, c = 10, 5, 20

print(f"(a > b) and (c > a): {(a > b) and (c > a)}")  # True
print(f"(a > b) and (c < a): {(a > b) and (c < a)}")  # False
print("\n")

# ----------------------------------------------------------
# 2. OR Operator (At least one condition must be True)
# ----------------------------------------------------------
print("---- OR Operator ----")
print(f"(a > b) or (c < a): {(a > b) or (c < a)}")  # True
print(f"(a < b) or (c < a): {(a < b) or (c < a)}")  # False
print("\n")

# ----------------------------------------------------------
# 3. NOT Operator (Reverses the boolean result)
# ----------------------------------------------------------
print("---- NOT Operator ----")
x, y = True, False

print(f"not x: {not x}")  # False
print(f"not y: {not y}")  # True
print("\n")

# ==========================================================
#                LOGICAL OPERATORS WITH USER INPUT
# ==========================================================

print("---- Voting Eligibility Check ----")
age = int(input("Enter your age: "))
has_voter_id = input("Do you have a voter ID? (yes/no): ").strip().lower() == "yes"

if age >= 18 and has_voter_id:
    print("‚úÖ You are eligible to vote!")
else:
    print("‚ùå You are NOT eligible to vote.")
print("\n")

# ==========================================================
#           LOGICAL OPERATORS WITH REAL-WORLD EXAMPLES
# ==========================================================

# ----------------------------------------------------------
# 4. Weather Conditions Example
# ----------------------------------------------------------
print("---- Weather Check ----")
temperature = 25
is_raining = False

if temperature > 20 and not is_raining:
    print("üåû It's a nice day to go outside!")
else:
    print("‚òî Better stay indoors.")
print("\n")

# ----------------------------------------------------------
# 5. Grading System Example
# ----------------------------------------------------------
print("---- Grading System ----")
marks = int(input("Enter your marks: "))

if marks >= 90 and marks <= 100:
    print("üéâ Grade: A (Excellent)")
elif marks >= 75 and marks < 90:
    print("üëç Grade: B (Good)")
elif marks >= 50 and marks < 75:
    print("üôÇ Grade: C (Average)")
else:
    print("‚ùå Grade: F (Fail)")
print("\n")

# ==========================================================
#                SUMMARY TABLE OF LOGICAL OPERATORS
# ==========================================================
print("---- Summary Table ----")
summary_table = """
---------------------------------------------------
| Operator | Condition 1 | Condition 2 | Result   |
|----------|------------|------------|----------|
|   and    |   True     |   True     |  True    |
|   and    |   True     |   False    |  False   |
|   or     |   True     |   False    |  True    |
|   or     |   False    |   False    |  False   |
|   not    |   True     |     -      |  False   |
|   not    |   False    |     -      |  True    |
---------------------------------------------------
"""
print(summary_table)

---- AND Operator ----
(a > b) and (c > a): True
(a > b) and (c < a): False


---- OR Operator ----
(a > b) or (c < a): True
(a < b) or (c < a): False


---- NOT Operator ----
not x: False
not y: True


---- Voting Eligibility Check ----