<a href="https://colab.research.google.com/github/Gaurav1singh-source/Python-practice/blob/main/Tuple(python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuple in Python**\
A tuple is an ordered, immutable (unchangeable) collection used to store multiple items in a single variable. Tuples are similar to lists, but they cannot be changed after creation.\
(Immutable means that once a tuple is created, you cannot change, add, or remove elements.)

**Creating a Tuple**\
You can create a tuple using parentheses () or the tuple() constructor.

In [6]:
# Creating a tuple
my_tuple = (1, 2, 3, "Hello", 5.5)

# Single-element tuple (comma is required)
single_element_tuple = (10,)

# Tuple without parentheses (packing)
another_tuple = 1, 2, 3, 4

# Nested tuple
nested_tuple = (1, (2, 3), [4, 5])

print(my_tuple)
print(single_element_tuple)
print(another_tuple)
print(nested_tuple)

(1, 2, 3, 'Hello', 5.5)
(10,)
(1, 2, 3, 4)
(1, (2, 3), [4, 5])

In [9]:
# using tuple() constructor.
my_tuple = tuple([1, 2, 3])  # Converts a list to a tuple
print(my_tuple)

(1, 2, 3)

 **Accessing Tuple Elements** \
Tuples are indexed starting from 0, just like lists.

In [10]:
my_tuple = (10, 20, 30, 40, 50)

print(my_tuple[0])
print(my_tuple[2])
print(my_tuple[-1])

10
30
50

 **Tuple is Immutable (Cannot Change Elements)**

In [12]:
#my_tuple = (1, 2, 3)
#my_tuple[0] = 10  # ‚ùå This will give an error (TypeError)

**Slicing a Tuple**

In [13]:
my_tuple = (1, 2, 3, 4, 5, 6)

print(my_tuple[1:4])   # Output: (2, 3, 4)
print(my_tuple[:3])    # Output: (1, 2, 3)
print(my_tuple[3:])    # Output: (4, 5, 6)
print(my_tuple[::-1])  # Output: (6, 5, 4, 3, 2, 1) (Reversed)

(2, 3, 4)
(1, 2, 3)
(4, 5, 6)
(6, 5, 4, 3, 2, 1)

In [14]:
print(my_tuple[2:4])

(3, 4)

**Tuple Methods**\
Tuples have only two built-in methods:

In [15]:
my_tuple = (1, 2, 3, 2, 4, 2, 5)

print(my_tuple.count(2))  # Output: 3 (Counts occurrences of 2)
print(my_tuple.index(4))  # Output: 4 (Finds index of first occurrence of 4)

3
4

**Tuple operation**

In [16]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t3 = t1 + t2
print(t3)  # Output: (1, 2, 3, 4, 5, 6)

t = (1, 2) * 3
print(t)  # Output: (1, 2, 1, 2, 1, 2)

(1, 2, 3, 4, 5, 6)
(1, 2, 1, 2, 1, 2)

**Checking Membership**

In [17]:
my_tuple = (1, 2, 3, 4, 5)

print(3 in my_tuple)   # Output: True
print(10 in my_tuple)  # Output: False

True
False

In [20]:
print(4 in my_tuple)

True

In [21]:
print(40 in my_tuple)

False

**Looping Through a Tuple**

In [22]:
my_tuple = ("Apple", "Banana", "Cherry")

for fruit in my_tuple:
    print(fruit)

Apple
Banana
Cherry

In [23]:
my_tuple = (10, 20, 30)
i = 0

while i < len(my_tuple):
    print(my_tuple[i])
    i += 1

10
20
30

**Tuple Packing and Unpacking**

In [30]:
#packing
my_tuple = ("John", 25, "Engineer")

In [31]:
#unpacking
name, age, profession = my_tuple
print(name)       # Output: John
print(age)        # Output: 25
print(profession) # Output: Engineer

John
25
Engineer

In [33]:
name, age, profession = my_tuple
print(age)       # Output: 25
print(name)        # Output: john
print(profession) # Output: Engineer

25
John
Engineer

**nested tuple**

In [34]:
nested_tuple = (1, (2, 3), (4, 5, 6))
print(nested_tuple[1])       # Output: (2, 3)
print(nested_tuple[2][1])    # Output: 5

(2, 3)
5

**Converting Between Tuples and Lists**

In [35]:
# Convert tuple to list
t = (1, 2, 3)
lst = list(t)
print(lst)  # Output: [1, 2, 3]

# Convert list to tuple
lst = [4, 5, 6]
t = tuple(lst)
print(t)  # Output: (4, 5, 6)

[1, 2, 3]
(4, 5, 6)

In [36]:
 #When to Use Tuples?
#When you don‚Äôt want data to be changed (e.g., database records).
#Tuples are faster and use less memory than lists.
#Tuples can be used as keys in dictionaries, unlike lists.

**Key Takeaways**\
‚úÖ Tuples are ordered and immutable.\
‚úÖ Use count() and index() for operations.\
‚úÖ Supports slicing, looping, membership checks.\
‚úÖ Tuples are faster than lists and take less memory.\